:root,
[data-md-color-scheme="default"] {
    --md-code-fg-color: #0d0d6c;
}

[data-md-color-scheme="slate"] {
    --md-code-fg-color: #f8f8f2;
}

/* Syntax Highlighting overrides */
.md-typeset .k {
    color: #45c6e0;
}

/* Keywords */
.md-typeset .s2 {
    color: #d45980;
}

/* Strings */
.md-typeset .c1 {
    color: #077918;
}